In [6]:
vishal=92
swarna=90
akash=91
bharath=93
soma=95

In [7]:
marks1=["vishal's marks",vishal,"swarna's marks",swarna,"akash's marks",akash,"bharath's marks",bharath,"soma's marks",soma]

In [9]:
marks1[-1]=93

In [10]:
print(marks1)

["vishal's marks", 92, "swarna's marks", 90, "akash's marks", 91, "bharath's marks", 93, "soma's marks", 93]

In [12]:
marks1[6]="bharath marks"

In [13]:
print(marks1)

["vishal's marks", 92, "swarna's marks", 90, "akash's marks", 91, 'bharath marks', 93, "soma's marks", 93]

In [14]:
marks2=marks1+ ["Flynn",96]

In [15]:
print(marks2)

["vishal's marks", 92, "swarna's marks", 90, "akash's marks", 91, 'bharath marks', 93, "soma's marks", 93, 'Flynn', 96]

In [16]:
marks3=["jay",91]+marks2

In [17]:
print(marks3)

['jay', 91, "vishal's marks", 92, "swarna's marks", 90, "akash's marks", 91, 'bharath marks', 93, "soma's marks", 93, 'Flynn', 96]

In [18]:
print(marks1)

["vishal's marks", 92, "swarna's marks", 90, "akash's marks", 91, 'bharath marks', 93, "soma's marks", 93]

In [19]:
print(marks2)

["vishal's marks", 92, "swarna's marks", 90, "akash's marks", 91, 'bharath marks', 93, "soma's marks", 93, 'Flynn', 96]